body{
    background-image: url(https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg);
    background-size: cover;
}
section {
    font-family: sans-serif;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.definition {
    position:relative;
    width: 100%; /* Ensure it scales */
    max-width: 500px; /* Restrict max width */
    margin-right: 50px;
    margin-top: 130px;
}

.definition-img1 {  
    width: 100%;
    border-radius: 20px;
    border: 1px solid #498564;
}

.overlay {
    border: 2px solid #8bbe8f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100.2%;
    height: 99.2%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(29, 27, 27, 0.909);
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box; 
}

.definition:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    padding: 8px;
}
.t1 {
    font-size: 2em;
    border-right: 2px solid #ffffff;
    padding: 20px;
    white-space: nowrap; /* Prevent line breaks */
}
.t2 {
    font-size: 1.5em;
    letter-spacing: 2px;
}
p {
    margin: 10px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Stack items vertically */
    }
    .definition {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 0; /* Remove bottom margin */
    }
    .definition-img1 {
        margin-top: 0; /* Remove margin-top */
    }
}

.donation-form {
    margin-top: 100px;
    background-color: #d9ded9;
    padding: 30px;
    border: 1px solid #375737;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    box-sizing: border-box; 
}

h2 {
    color: #333;
    margin-bottom: 30px;
}

label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
    display: flex;
}

label::after {
    content: "*";
    color: rgb(212, 39, 39);
    padding-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
    border-color: rgb(8, 34, 13);
    outline: none;
    box-shadow: 0 0 5px rgba(228, 245, 232, 0.8);
}

.radio {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
}

.ewallet-img,
.banking-img {
    width: 170px;
    margin-right: 10px;
}
.ewallet-img {
    height: 55px;
    margin-left: 20px;
}
.banking-img {
    height: 60px;
    margin-left: 19px;
}

button {
    margin-top: 20px;
    width: 30%;
    padding: 8px;
    border: 1px solid #558c55;
    border-radius: 10px;
    transition: border-color 0.5s;
    background-color: #fcfffd;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #54ba7b;
    color: #fff;
    border: 1px solid #f5f5f5;
}
button:active{
    opacity: 0.5;
}

/* Confirmation message */
.hidden {
    display:none;
}
.visible {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
    animation: fadeIn 1s ease;
    background-color: #0b0d0a93; 
    padding: 20px; 
    border-radius: 5px; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer-section.newsletter input[type="email"] {
    border-radius: 0; 
    height: 30px; 
    padding: 5px; 
    border: 1px solid #ccc; 
}
.footer-section.newsletter input[type="email"]:focus {
    border-color: #ccc; 
    box-shadow: none; 
    outline: none; 
}
