body{
    background: url(https://images.pexels.com/photos/2791056/pexels-photo-2791056.jpeg);
    background-size: cover;
    animation: moveBackground 50s infinite alternate;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}

section{
    padding-top: 90px;
    font-family: calibri;
    padding-bottom: 150px;
}

.container{
    display: grid;
    grid-template-rows: 150px 1fr;
}
.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 425px 1fr ;
    gap: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.header,.subHeader,.subTitle,.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #222222;
    font-size: 50px;
    font-weight: 700;
    stroke-width: 1.5;
    animation: textAnimate 3s infinite alternate;
}
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(142, 23%, 21%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
  }

.box{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 3fr;
    box-shadow: rgba(15, 71, 28, 0.5) 0px 4px 40px -10px;
    border-radius: 25px;
    padding: 20px;
    transition: 0.3s;
    transform: translateY(0px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.box.show {
    opacity: 1;
    transform: translateY(0);
}
.hidden {
    opacity: 0;
    transform: translateY(40px);
}
.box:hover{
    background-color: #467a5a;
    color: white;
}
.center {
    grid-column: span 2;
    justify-self: center;
    width: 45%;
}

.subHeader{
    font-size: larger;
    padding-bottom: 15px;
}
.subTitle{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}
.i{
    border-radius: 60px;
    height: 100px;
}
.subContent{
    font-size: larger;
    padding: 20px;
    padding-top: 0;
    vertical-align: top;
    text-align: center;
}
